<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/4.6/components/navbar/
-->
<link rel="stylesheet" type="text/css" href="\public\css\estilo.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-light">
	<a class="navbar-brand" href="/">
		<img src="/public/img/carentlogo.jpg" style="width: 100%; max-width: 60px;" />

	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
		aria-controls="navbarToggler" aria-expanded="false" aria-label="Alternar navegação">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarToggler">
		<div class="navbar-nav">
			<div class="carent">CARent</div>
			<a class="nav-link" href="/sobre">Sobre</a>
			<a class="nav-link" href="/carros">Listagem de Carros</a>
			<a class="nav-link" href="/registroCarro">Registro de carros </a>
			<button class="login"><i class="fa-regular fa-user"></i>login</button>
			<button class="cadastra">cadastre-se</button>


		</div>
	</div>
</nav>