<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="footer-widget footer-menu">
					<h5 class="footer-title">About Your Company</h5>
					<ul>
						<li><a href="about.html">Our Company</a></li>
						<li><a href="#">Shop Toyota</a></li>
						<li><a href="#">Dreamsrentals USA</a></li>
						<li><a href="#">Dreamsrentals Worldwide</a></li>
						<li><a href="#">Dreamsrentals Racing</a></li>
						<li><a href="#">Virtual Auto Show</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="footer-widget footer-menu">
					<h5 class="footer-title">Vehicles Type</h5>
					<ul>
						<li><a href="#">All Vehicles</a></li>
						<li><a href="#">SUVs</a></li>
						<li><a href="#">Trucks</a></li>
						<li><a href="#">Cars</a></li>
						<li><a href="#">Crossovers</a></li>
						<li><a href="#">Electrified Vehicles</a></li>
						<li><a href="#">Hybrids</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="footer-contact footer-widget">
					<h5 class="footer-title">Contact Info</h5>
					<div class="footer-contact-info">
						<div class="footer-address">
							<span><i class="feather-phone-call"></i></span>
							<div class="addr-info">
								<a href="tel:+1(888)7601940">+1 (888) 760 1940</a>
							</div>
						</div>
						<div class="footer-address">
							<span><i class="feather-mail"></i></span>
							<div class="addr-info">
								<a href="mailto:support@example.com">support@example.com</a>
							</div>
						</div>
						<div class="update-form">
							<form action="#">
								<span><i class="feather-mail"></i></span>
								<input type="email" class="form-control" placeholder="Enter You Email Here">
								<button type="submit" class="btn btn-subscribe"><span><i
											class="feather-send"></i></span></button>
							</form>
						</div>
					</div>
					<div class="footer-social-widget">
						<h6>Connect with Us</h6>
						<ul class="nav-social">
							<li>
								<a href="#" target="_blank"><i
										class="fa-brands fa-facebook-f fa-facebook fi-icon"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fab fa-instagram fi-icon"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fab fa-behance fi-icon"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fab fa-twitter fi-icon"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fab fa-linkedin fi-icon"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="rodape">
	<a class="link-rodape" href="https://sistemasdeinformacao.espm.edu.br" target="_blank">
		<small>Desenvolvido em 2023 pelo curso de Sistemas de Informação da ESPM</small>
		<br />
		<img src="/public/img/logo-si-512.png" style="width: 100%; max-width: 150px;" />
	</a>
</div>
<style>
	/* css depois */
</style>