<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="footer-widget footer-menu">
					<h5 class="footer-title">About Your Company</h5>
					<ul>
						<li><a href="about.html">Our Company</a></li>
						<li><a href="#">Shop Toyota</a></li>
						<li><a href="#">Dreamsrentals USA</a></li>
						<li><a href="#">Dreamsrentals Worldwide</a></li>
						<li><a href="#">Dreamsrentals Racing</a></li>
						<li><a href="#">Virtual Auto Show</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="footer-widget footer-menu">
					<h5 class="footer-title">Vehicles Type</h5>
					<ul>
						<li><a href="#">All Vehicles</a></li>
						<li><a href="#">SUVs</a></li>
						<li><a href="#">Trucks</a></li>
						<li><a href="#">Cars</a></li>
						<li><a href="#">Crossovers</a></li>
						<li><a href="#">Electrified Vehicles</a></li>
						<li><a href="#">Hybrids</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="footer-contact footer-widget">
					<h5 class="footer-title">Contact Info</h5>
					<div class="footer-contact-info">
						<div class="footer-address">
							<span><i class="feather-phone-call"></i></span>
							<div class="addr-info">
								<a href="tel:+1(888)7601940">+1 (888) 760 1940</a>
							</div>
						</div>
						<div class="footer-address">
							<span><i class="feather-mail"></i></span>
							<div class="addr-info">
								<a href="mailto:support@example.com">support@example.com</a>
							</div>
						</div>
						<div class="update-form">
							<form action="#">
								<span><i class="feather-mail"></i></span>
								<input type="email" class="form-control" placeholder="Enter You Email Here">
								<button type="submit" class="btn btn-subscribe"><span><i
											class="feather-send"></i></span></button>
							</form>
						</div>
					</div>
					<div class="footer-social-widget">
						<h6>Connect with Us</h6>
						<ul class="nav-social">
							<li>
								<a href="#" target="_blank">
									<i class="fa fa-facebook-square"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>


<div class="rodape">
	<a class="link-rodape" href="https://sistemasdeinformacao.espm.edu.br" target="_blank">
		<small>Desenvolvido em 2023 pelo curso de Sistemas de Informação da ESPM</small>
		<br />
		<img src="/public/img/logo-si-512.png" style="width: 100%; max-width: 150px;" />
	</a>
</div>

<div class="scroll-to-top" onclick="scrollToTop()">
	<div class="progress-circle"></div>
	<i class="fa fa-arrow-up" style="text-align: center;"></i>
</div>


<script>
	window.addEventListener('scroll', function () {
		let scrollPosition = window.scrollY;
		let windowHeight = window.innerHeight;
		let fullHeight = document.body.scrollHeight;

		let scrolled = (scrollPosition / (fullHeight - windowHeight)) * 50;
		document.querySelector('.scroll-to-top .progress-circle').style.clip = `rect(0, ${scrolled}px, 50px, 0)`;

		let scrollToTopElement = document.querySelector('.scroll-to-top');

		if (scrollPosition > windowHeight / 2 && scrollPosition + windowHeight < fullHeight) {
			scrollToTopElement.classList.add('scrolled-up');
		} else {
			scrollToTopElement.classList.remove('scrolled-up');
		}

		if (scrollPosition <= 0) {
			scrollToTopElement.style.display = 'none';
		} else {
			scrollToTopElement.style.display = 'block';
		}
	});

	function scrollToTop() {
		window.scrollTo({
			top: 0,
			behavior: 'smooth'
		});
	}

</script>

<style>
	/* Estilo para o footer */
	.footer {
		background-color: #333;
		color: #fff;
		padding: 60px 60px;
	}

	.footer-widget {
		margin-bottom: 30px;
	}

	.footer-title {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 20px;
	}

	.footer-menu ul {
		list-style: none;
		padding: 0;
	}

	.footer-menu li {
		margin-bottom: 10px;
	}

	.footer-menu a {
		color: #fff;
		text-decoration: none;
		transition: color 0.3s;
		/* Transição suave para a mudança de cor */
	}

	.footer-menu a:hover {
		color: #ffcc00;
		/* Altere a cor quando o mouse estiver sobre o link */
	}

	.footer-contact {
		margin-bottom: 30px;
	}

	.footer-contact-info {
		margin-bottom: 20px;
	}

	.footer-address {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}

	.footer-address span {
		margin-right: 10px;
	}

	.update-form form {
		display: flex;
		align-items: center;

	}

	update-form input {
		flex: 1;
		border: 1px solid #fff;
		padding: 10px;
		border-radius: 5px;
	}

	.btn-subscribe {
		background-color: #ffcc00;
		border: none;
		border-radius: 5px;
		padding: 18px 20px;
		margin-left: 10px;
		cursor: pointer;
	}

	.btn-subscribe i {
		color: #333;
	}

	/* Estilo para o rodapé */
	.rodape {
		background-color: #333;
		color: #fff;
		padding: 20px 0;
		text-align: center;
	}

	.link-rodape {
		text-decoration: none;
		color: #fff;
	}

	.link-rodape small {
		display: block;
		margin-bottom: 10px;
	}

	.link-rodape img {
		width: 100%;
		max-width: 150px;
	}

	h5 {
		font-size: 14px;
		color: #ffcc00;
	}

	.nav-social {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.nav-social li {
		display: inline-block;
		margin-right: 10px;
	}

	.nav-social li:last-child {
		margin-right: 0;
	}

	.nav-social a {
		color: #FFA633;
		font-size: 24px;
		text-decoration: none;
	}


	.scroll-to-top {
		position: fixed;
		right: 12px;
		bottom: 25px;
		width: 50px;
		height: 50px;
		font-size: 24px;
		color: #FFA633;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 99;
		transition: transform 0.3s ease-out;
	}

	.scroll-to-top .progress-circle {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 2px solid #FFA633;
		clip: rect(0, 25px, 50px, 0);
		transition: clip 0.3s;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.scroll-to-top:hover .progress-circle {
		clip: rect(0, 50px, 50px, 0);
		transition: clip 0.3s;
	}

	.scroll-to-top i {
		z-index: 1;
		position: relative;
		margin-top: 12px;
		margin-left: 14px;
	}

	body {
		height: 2000px;
	}

	body.scrolled-up .scroll-to-top {
		display: block;
	}

	body.scrolled-up .scroll-to-top .progress-circle {
		clip: rect(0, 50px, 50px, 0);
		transition: clip 0.3s;
	}
</style>