@import url('https://fonts.cdnfonts.com/css/cocogoose');

img {
	max-width: 100%;
}

html,
body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 100%;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	background-color: black;
	padding: 2rem;
}

.link-rodape,
.link-rodape:hover {
	color: white;
	text-decoration: none;
}

.navbar {
	padding: 2rem 1rem;
}

.carent {
	width: 142px;
	height: 38px;
	flex-shrink: 0;
	font-family: 'Cocogoose';
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background: linear-gradient(to right, rgba(79, 8, 76, 0.78), rgba(186, 36, 50, 0.78), rgba(243, 197, 49, 0.78));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.login {
	color: white;
	border: none;
    background-color: black;
}
.cadastra {
	color: white;
	border: none;
	background: linear-gradient(to right, rgba(79, 8, 76, 0.78), rgba(186, 36, 50, 0.78), rgba(243, 197, 49, 0.78));
}
.cadastra:hover{
	background: white;
	color: linear-gradient(to right, rgba(79, 8, 76, 0.78), rgba(186, 36, 50, 0.78), rgba(243, 197, 49, 0.78));
	border-color: linear-gradient(to right, rgba(79, 8, 76, 0.78), rgba(186, 36, 50, 0.78), rgba(243, 197, 49, 0.78));

}
.login:hover{
	background: white;
	color: black;
	border-color: black;
	border: 10px;
}
.lado{
	margin-left: 400px;
	width: max-content;
}