<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<p> Plataforma de aluguel de carros 100% confiável</p>
			<h1>Encontre o melhor<span> carro dos seus sonhos para alugar</span></h1>
			<p>Lorem ipsum dolor sit amet. Ut labore sint 33 laborum eligendi qui totam dolores et aspernatur omnis eum voluptatum quia. Vel internos odio et voluptatem inventore eum mollitia quisquam qui animi quasi ut quasi sint qui illo internos sed harum explicabo.</p>
			<a href="google.com"><button type="button" class="btn">Veja todos</button></a>
		</div>
		<div class="col-sm-6">
			<img src="https://invictocar.com.br/wp-content/uploads/2022/02/carro-home02.png" alt="carro">
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<label for=""></label>
		</div>
		<div class="col-sm-4">
			<label for=""></label>
		</div>
		<div class="col-sm-4">
			<label for=""></label>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-2">
			<input type="">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>

	</div>
</div>
<div class="container-fluid">
	<h2></h2>
	<p></p>
	<div class="row">
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		
	</div>

</div>