 <!-- primeira parte -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<p> Plataforma de aluguel de carros 100% confiável</p>
			<h1>Encontre o melhor<span> carro dos seus sonhos para alugar</span></h1>
			<p>Lorem ipsum dolor sit amet. Ut labore sint 33 laborum eligendi qui totam dolores et aspernatur omnis eum
				voluptatum quia. Vel internos odio et voluptatem inventore eum mollitia quisquam qui animi quasi ut
				quasi sint qui illo internos sed harum explicabo.</p>
			<a href="google.com"><button type="button" class="btn">Veja todos</button></a>
		</div>
		<div class="col-sm-6">
			<img src="https://invictocar.com.br/wp-content/uploads/2022/02/carro-home02.png" alt="carro">
		</div>
	</div>
</div>
<!-- pickup location -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<label for=""></label>
		</div>
		<div class="col-sm-4">
			<label for=""></label>
		</div>
		<div class="col-sm-4">
			<label for=""></label>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-2">
			<input type="">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>

	</div>
</div>
<!-- how it works -->
<div class="container-fluid">
	<h2></h2>
	<p></p>
	<div class="row">
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- explore most popular cars -->
<div class="container-fluid">
	<h2></h2>
	<p></p>
	<!-- essa porra aqui em baixo é o bagulho dos botões com marca de carro lá (audi, ferrari ...) -->
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav listing-buttons gap-3" data-bs-tabs="tabs" role="tablist">
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
			</ul>
		</div>
	</div>
	<!-- essa porra aqui tambem é a listagem dos carros, vai ser foda de fazer (eu acho, e tá incompleto) -->
	<div class="row">
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>

	</div>
</div>

 <!-- até aqui é a porra da listagem -->
 <!-- aqui é a putaria de imagenzinha num carrocel de merda -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2></h2>
			<p></p>
		</div>

	</div>
	<div class="row">
		<!-- aqui vai ter que colocar a porra do carrocel, e eu não sei fazer essa porra -->
	</div>
	<div class="row">
		<a href=""> <span><i></i></span></a>
	</div>

</div>
<!-- essa porra é o fact bythe numbers -->
<div class="container-fluid">
	<div>
		<h2></h2>
		<p></p>
	</div>
	<div class="row">
		<div class="col-lg-3">
			
		</div>
		<div class="col-lg-3">
			
		</div>
		<div class="col-lg-3">
			
		</div>
		<div class="col-lg-3">
			
		</div>
	</div>

</div>
<!-- essa pora é o outro carrocel de carrinhos lá, recomended não sei o q -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2></h2>
			<p></p>
		</div>

	</div>
	<div class="row">
		<!-- aqui vai ter que colocar a porra do carrocel, e eu não sei fazer essa porra (again) -->
	</div>
	<div class="row">
		<a href=""> <span><i></i></span></a>
	</div>

</div>
 <!-- esse é o why choose us que é a mesma porra do how it work -->
<div class="container-fluid">
	<h2></h2>
	<p></p>
	<div class="row">
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- essa porrinha aqui é a porra do rodapé(vale ressaltar que tem uma penca de elementos que eu não botei que tem no site lá( não só no rodapé))-->
<div>
	
</div>
<!-- só pra ter uma ideia, esse é a porra do script do rodapé no site
	<footer class="footer">
	<div class="footer-top aos aos-init aos-animate" data-aos="fade-up">
	<div class="container">
	<div class="row">
	<div class="col-lg-7">
	<div class="row">
	<div class="col-lg-4 col-md-6">
	
	<div class="footer-widget footer-menu">
	<h5 class="footer-title">About Company</h5>
	<ul>
	<li>
	<a href="about.html">Our Company</a>
	</li>
	<li>
	<a href="javascript:void(0)">Shop Toyota</a>
	</li>
	<li>
	<a href="javascript:void(0)">Dreamsrentals USA</a>
	</li>
	<li>
	<a href="javascript:void(0)">Dreamsrentals Worldwide</a>
	</li>
	<li>
	<a href="javascript:void(0)">Dreamsrentals Racing</a>
	</li>
	<li>
	<a href="javascript:void(0)">Dreamsrentals Racing</a>
	</li>
	<li>
	<a href="javascript:void(0)">Virtual Auto Show</a>
	</li>
	</ul>
	</div>
	
	</div>
	<div class="col-lg-4 col-md-6">
	
	<div class="footer-widget footer-menu">
	<h5 class="footer-title">Vehicles Type</h5>
	<ul>
	<li>
	<a href="javascript:void(0)">All Vehicles</a>
	</li>
	<li>
	<a href="javascript:void(0)">SUVs</a>
	</li>
	<li>
	<a href="javascript:void(0)">Trucks</a>
	</li>
	<li>
	<a href="javascript:void(0)">Cars</a>
	</li>
	<li>
	<a href="javascript:void(0)">Crossovers</a>
	</li>
	<li>
	<a href="javascript:void(0)">Electrified Vehicles</a>
	</li>
	<li>
	<a href="javascript:void(0)">Hybrids</a>
	</li>
	</ul>
	</div>
	
	</div>
	<div class="col-lg-4 col-md-6">
	
	<div class="footer-widget footer-menu">
	<h5 class="footer-title">Quick links</h5>
	<ul>
	<li>
	<a href="javascript:void(0)">My Account</a>
	</li>
	<li>
	<a href="javascript:void(0)">Champaigns</a>
	</li>
	<li>
	<a href="javascript:void(0)">Dreamsrental Dealers</a>
	</li>
	<li>
	<a href="javascript:void(0)">Deals and Incentive</a>
	</li>
	<li>
	<a href="javascript:void(0)">Financial Services</a>
	</li>
	<li>
	<a href="javascript:void(0)">Dreamsrental Insurance</a>
	</li>
	<li>
	<a href="javascript:void(0)">Dreamsrental Care</a>
	</li>
	</ul>
	</div>
	
	</div>
	</div>
	</div>
	<div class="col-lg-5">
	<div class="footer-contact footer-widget">
	<h5 class="footer-title">Contact Info</h5>
	<div class="footer-contact-info">
	<div class="footer-address">
	<span><i class="feather-phone-call"></i></span>
	<div class="addr-info">
	<a href="tel:+1(888)7601940">+ 1 (888) 760 1940</a>
	</div>
	</div>
	<div class="footer-address">
	<span><i class="feather-mail"></i></span>
	<div class="addr-info">
	<a href="mailto:support@example.com">support@example.com</a>
	</div>
	</div>
	<div class="update-form">
	<form action="#">
	<span><i class="feather-mail"></i></span>
	<input type="email" class="form-control" placeholder="Enter You Email Here">
	<button type="submit" class="btn btn-subscribe"><span><i class="feather-send"></i></span></button>
	</form>
	</div>
	</div>
	<div class="footer-social-widget">
	<h6>Connect with us</h6>
	<ul class="nav-social">
	<li>
	<a href="javascript:void(0)" target="_blank"><i class="fa-brands fa-facebook-f fa-facebook fi-icon"></i></a>
	</li>
	<li>
	<a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram fi-icon"></i></a>
	</li>
	<li>
	<a href="javascript:void(0)" target="_blank"><i class="fab fa-behance fi-icon"></i></a>
	</li>
	<li>
	<a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter fi-icon"></i> </a>
	</li>
	<li>
	<a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin fi-icon"></i></a>
	</li>
	</ul>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	
	
	<div class="footer-bottom">
	<div class="container">
	
	<div class="copyright">
	<div class="row align-items-center">
	<div class="col-md-6">
	<div class="copyright-text">
	<p>© 2023 Dreams Rent. All Rights Reserved.</p>
	</div>
	</div>
	<div class="col-md-6">
	
	<div class="copyright-menu">
	<div class="vistors-details">
	<ul class="d-flex">
	<li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/paypal.svg" alt="Paypal"></a></li>
	<li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/visa.svg" alt="Visa"></a></li>
	<li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/master.svg" alt="Master"></a></li>
	<li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/applegpay.svg" alt="applegpay"></a></li>
	</ul>
	</div>
	</div>
	
	</div>
	</div>
	</div>
	
	</div>
	</div>
	
	</footer>-->