<!-- primeira parte -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<p></p>

			<p>Plataforma de aluguel de carros 100% confiável</p>

			<h1>Tá Carent?</h1>
			<h1><span>Alugue um carro!</span></h1>

			<p></p>

			<p>
				Lorem ipsum dolor sit amet. Ut labore sint 33 laborum eligendi qui totam dolores et aspernatur omnis eum
				voluptatum quia. Vel internos odio et voluptatem inventore eum mollitia quisquam qui animi quasi ut
				quasi sint qui illo internos sed harum explicabo.
			</p>

			<a href="google.com"><button type="button" class="btn">Veja todos</button></a>
		</div>
		<div class="col-sm-6">
			<img src="https://invictocar.com.br/wp-content/uploads/2022/02/carro-home02.png" alt="carro">
		</div>
	</div>
</div>
<!-- pickup location -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<label for=""></label>
		</div>
		<div class="col-sm-4">
			<label for=""></label>
		</div>
		<div class="col-sm-4">
			<label for=""></label>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-2">
			<input type="">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>

	</div>
</div>
<!-- how it works -->
<div class="container-fluid">
	<h2></h2>
	<p></p>
	<div class="row">
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- explore most popular cars -->
<div class="container-fluid">
	<h2></h2>
	<p></p>
	<!-- essa porra aqui embaixo é o bagulho dos botões com marca de carro lá (audi, ferrari ...) -->
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav listing-buttons gap-3" data-bs-tabs="tabs" role="tablist">
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
			</ul>
		</div>
	</div>
	<!-- essa porra aqui tambem é a listagem dos carros, vai ser foda de fazer (eu acho, e tá incompleto) -->
	<div class="row">
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>

	</div>
</div>

<!-- até aqui é a porra da listagem -->
<!-- aqui é a putaria de imagenzinha num carrossel de merda -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2></h2>
			<p></p>
		</div>

	</div>
	<div class="row">
		<!-- carrossel automático -->
		<div id="carrosselzada" class="carousel slide" data-bs-ride="carousel">
			<button type="button" data-bs-target="#carrosselzada" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carrosselzada" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carrosselzada" data-bs-slide-to="2" aria-label="Slide 3"></button>
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="5000">
				</div>
				<div class="carousel-item" data-bs-interval="5000">
				</div>
				<div class="carousel-item" data-bs-interval="5000">
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carrosselzada"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carrosselzada"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<!-- /carrossel -->
	</div>
	<div class="row">
		<a href=""> <span><i></i></span></a>
	</div>

</div>
<!-- essa porra é o fact bythe numbers -->
<div class="container-fluid">
	<div>
		<h2></h2>
		<p></p>
	</div>
	<div class="row">
		<div class="col-lg-3">

		</div>
		<div class="col-lg-3">

		</div>
		<div class="col-lg-3">

		</div>
		<div class="col-lg-3">

		</div>
	</div>

</div>
<!-- essa pora é o outro carrossel de carrinhos lá, recomended não sei o q -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2></h2>
			<p></p>
		</div>

	</div>
	<div class="row">
		<!-- carrossel -->
		<div id="carrosselzada1" class="carousel slide" data-bs-ride="carousel">
			<button type="button" data-bs-target="#carrosselzada1" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carrosselzada1" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carrosselzada1" data-bs-slide-to="2" aria-label="Slide 3"></button>
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="5000">
				</div>
				<div class="carousel-item" data-bs-interval="5000">
				</div>
				<div class="carousel-item" data-bs-interval="5000">
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carrosselzada1"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carrosselzada1"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
	<!-- /CARROSSERL -->
	<div class="row">
		<a href=""> <span><i></i></span></a>
	</div>

</div>
<!-- esse é o why choose us que é a mesma porra do how it work -->
<div class="container-fluid">
	<h2></h2>
	<p></p>
	<div class="row">
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>

	</div>

	<%- contentFor("espaco-head") %>

		<style>
			@import url('https://fonts.cdnfonts.com/css/cocogoose');
			@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Roboto:wght@300&display=swap');



			h1 {

				font-size: 35px;
				color: black;
				font-family: 'Cocogoose'

			}

			span {
				color: red;
			}

			p {
				color: grey;
				font-family: 'IBM Plex Sans';

			}
		</style>