<!-- primeira parte -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<p></p>

			<p> Plataforma de aluguel de carros 100% confiável</p>

			<h1>Tá Carent?</h1>
			<h1>Alugue um carro!</h1>

			<p>
			</p>
			
			<p>
				Lorem ipsum dolor sit amet. Ut labore sint 33 laborum eligendi qui totam dolores et aspernatur omnis eum
				voluptatum quia. Vel internos odio et voluptatem inventore eum mollitia quisquam qui animi quasi ut
				quasi sint qui illo internos sed harum explicabo.
			</p>

			<a href="google.com"><button type="button" class="btn">Veja todos</button></a>
		</div>
		<div class="col-sm-6">
			<img src="https://invictocar.com.br/wp-content/uploads/2022/02/carro-home02.png" alt="carro">
		</div>
	</div>
</div>
<!-- pickup location -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<label for=""></label>
		</div>
		<div class="col-sm-4">
			<label for=""></label>
		</div>
		<div class="col-sm-4">
			<label for=""></label>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-2">
			<input type="">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>

	</div>
</div>
<!-- how it works -->
<div class="container-fluid">
	<h2></h2>
	<p></p>
	<div class="row">
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- explore most popular cars -->
<div class="container-fluid">
	<h2></h2>
	<p></p>
	<!-- essa porra aqui em baixo é o bagulho dos botões com marca de carro lá (audi, ferrari ...) -->
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav listing-buttons gap-3" data-bs-tabs="tabs" role="tablist">
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
				<ul>
					<a href=""><span><img src="" alt=""></span></a>
				</ul>
			</ul>
		</div>
	</div>
	<!-- essa porra aqui tambem é a listagem dos carros, vai ser foda de fazer (eu acho, e tá incompleto) -->
	<div class="row">
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>

	</div>
</div>

<!-- até aqui é a porra da listagem -->
<!-- aqui é a putaria de imagenzinha num carrocel de merda -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2></h2>
			<p></p>
		</div>

	</div>
	<div class="row">
		<!-- aqui vai ter que colocar a porra do carrocel, e eu não sei fazer essa porra -->
	</div>
	<div class="row">
		<a href=""> <span><i></i></span></a>
	</div>

</div>
<!-- essa porra é o fact bythe numbers -->
<div class="container-fluid">
	<div>
		<h2></h2>
		<p></p>
	</div>
	<div class="row">
		<div class="col-lg-3">

		</div>
		<div class="col-lg-3">

		</div>
		<div class="col-lg-3">

		</div>
		<div class="col-lg-3">

		</div>
	</div>

</div>
<!-- essa pora é o outro carrocel de carrinhos lá, recomended não sei o q -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2></h2>
			<p></p>
		</div>

	</div>
	<div class="row">
		<!-- aqui vai ter que colocar a porra do carrocel, e eu não sei fazer essa porra (again) -->
	</div>
	<div class="row">
		<a href=""> <span><i></i></span></a>
	</div>

</div>
<!-- esse é o why choose us que é a mesma porra do how it work -->
<div class="container-fluid">
	<h2></h2>
	<p></p>
	<div class="row">
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>

	</div>