<!-- primeira parte -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<p></p>

			<p>Plataforma de aluguel de carros 100% confiável</p>

			<h1>Tá Carent?</h1>
			<h1><span>Alugue um carro!</span></h1>

			<p></p>

			<p>
				Lorem ipsum dolor sit amet. Ut labore sint 33 laborum eligendi qui totam dolores et aspernatur omnis eum
				voluptatum quia. Vel internos odio et voluptatem inventore eum mollitia quisquam qui animi quasi ut
				quasi sint qui illo internos sed harum explicabo.
			</p>

			<a href="google.com"><button type="button" class="btn">Veja todos</button></a>
		</div>
		<div class="col-sm-6">
			<img src="https://invictocar.com.br/wp-content/uploads/2022/02/carro-home02.png" alt="carro">
		</div>
	</div>
</div>
<!-- pickup location -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<label for=""></label>
		</div>
		<div class="col-sm-4">
			<label for=""></label>
		</div>
		<div class="col-sm-4">
			<label for=""></label>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-2">
			<input type="">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>
		<div class="col-sm-2">
			<input type="text">
		</div>

	</div>
</div>
<!-- how it works -->
<div class="container-fluid">
	<div>
		<h2>como funciona</h2>
		<img src="" alt="">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima facilis in nemo rem, quaerat, quae beatae
			nisi alias sed inventore maiores, iste porro consectetur mollitia. Perferendis tempora omnis sed eos!</p>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div>
				<div><img src="https://dreamsrent.dreamguystech.com/html/assets/img/icons/services-icon-01.svg" alt="">
				</div>
				<div>
					<h3>escolha os locais</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat voluptatem consequatur ad eaque
						earum, voluptatibus quis voluptate voluptas reiciendis rerum suscipit eum eius, deleniti facere
						praesentium expedita ipsa esse? Mollitia?</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="https://dreamsrent.dreamguystech.com/html/assets/img/icons/services-icon-01.svg" alt="">
				</div>
				<div>
					<h3>locais de coleta</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla odit repellendus dignissimos sed
						veniam ducimus error cum officia optio perferendis? Voluptate nisi dignissimos illum ratione,
						cupiditate fugit hic placeat distinctio?</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="https://dreamsrent.dreamguystech.com/html/assets/img/icons/services-icon-01.svg" alt="">
				</div>
				<div>
					<h3>reserve seu carro</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum necessitatibus reprehenderit
						deleniti illum, saepe quo quaerat neque. Nobis excepturi voluptatum iusto? A tenetur quam ipsum
						non dolorum animi vero atque!</p>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- explore most popular cars -->
<div class="container-fluid">
	<div>
		<h2>explore os carros mais populares</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum mollitia vitae assumenda, maiores magni
			nobis accusantium necessitatibus dignissimos? Magni consequatur ab corporis placeat quas quis earum atque
			nihil ducimus odio.</p>
	</div>
	<!-- essa porra aqui embaixo é o bagulho dos botões com marca de carro lá (audi, ferrari ...) -->
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav listing-buttons gap-3" data-bs-tabs="tabs" role="tablist">
				<ul>
					<a href=""><span><img
								src="https://dreamsrent.dreamguystech.com/html/assets/img/icons/car-icon-06.svg"
								alt=""></span>Tesla</a>
				</ul>
				<ul>
					<a href=""><span><img
								src="https://dreamsrent.dreamguystech.com/html/assets/img/icons/car-icon-05.svg"
								alt=""></span>Acura</a>
				</ul>
				<ul>
					<a href=""><span><img
								src="https://dreamsrent.dreamguystech.com/html/assets/img/icons/car-icon-04.svg"
								alt=""></span>Toyota</a>
				</ul>
				<ul>
					<a href=""><span><img
								src="https://dreamsrent.dreamguystech.com/html/assets/img/icons/car-icon-03.svg"
								alt=""></span>Honda</a>
				</ul>
				<ul>
					<a href=""><span><img
								src="https://dreamsrent.dreamguystech.com/html/assets/img/icons/car-icon-02.svg"
								alt=""></span>Audi</a>
				</ul>
				<ul>
					<a href=""><span><img
								src="https://dreamsrent.dreamguystech.com/html/assets/img/icons/car-icon-01.svg"
								alt=""></span>Mercedes</a>
				</ul>
			</ul>
		</div>
	</div>
	<!-- essa porra aqui tambem é a listagem dos carros, vai ser foda de fazer (eu acho, e tá incompleto) -->
	<div class="row">
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>
		<div class="col-lg-4">
			<div>

			</div>
		</div>

	</div>
</div>

<!-- até aqui é a porra da listagem -->
<!-- aqui é a imagenzinha num carrossel -->
<div class="row">
	<div class="col-lg-12">
		<div>
			<h2>tipos de carros mais populares</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quos molestiae at animi iure neque, eum
				nesciunt vel odit veniam tempore, maxime asperiores explicabo deleniti. Architecto repudiandae sit
				consectetur natus?</p>
		</div>
	</div>

</div>

<!-- carrossel automático -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active" data-interval="4000">
			<div class="row">
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-01.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-05.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-04.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>

			</div>
		</div>
		<div class="carousel-item" data-interval="4000">
			<div class="row">
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-03.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-02.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-01.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item" data-interval="4000">
			<div class="row">
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-05.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-04.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-03.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item" data-interval="4000">
			<div class="row">
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-02.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-01.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-05.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item" data-interval="4000">
			<div class="row">
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-04.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-03.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="editaCol">
						<img src="https://dreamsrent.dreamguystech.com/html/assets/img/cars/mp-vehicle-02.png" alt="">
						<h3>tipo carro</h3>
						<p>numero carros</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	<button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</button>
</div>
<!-- /carrossel -->

<div class="row">
	<a href=""> <span><i></i></span></a>
</div>

</div>
<!-- essa porra é o fact bythe numbers -->
<div class="container-fluid">
	<div>
		<h2></h2>
		<p></p>
	</div>
	<div class="row">
		<div class="col-lg-3">

		</div>
		<div class="col-lg-3">

		</div>
		<div class="col-lg-3">

		</div>
		<div class="col-lg-3">

		</div>
	</div>

</div>
<!-- essa pora é o outro carrossel de carrinhos lá, recomended não sei o q -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div>
				<h2>Ofertas recomendadas</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem provident corporis dolor, tempore
					necessitatibus quam veniam aliquid iure nesciunt exercitationem alias modi quasi nulla, praesentium
					beatae amet vitae harum iusto.</p>
			</div>
		</div>

	</div>

	<!-- carrossel -->
	<div id="carrosselzada1" class="carousel slide" data-bs-ride="carousel">

		<div class="carousel-inner">
			<div class="carousel-item active">
				
			</div>
			<div class="carousel-item">
				
			</div>
			<div class="carousel-item">
				
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</button>
	</div>

	<!-- /CARROSSERL -->
	<div class="row">
		<a href=""> <span><i></i></span></a>
	</div>

</div>
<!-- esse é o why choose us que é a mesma porra do how it work -->
<div class="container-fluid">
	<h2></h2>
	<p></p>
	<div class="row">
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<div><img src="" alt=""></div>
				<div>
					<h3></h3>
					<p></p>
				</div>
			</div>
		</div>

	</div>

	<%- contentFor("espaco-head") %>

		<style>
		</style>