<div class="container-fluid">
    <div class="banner bg-dark text-white container ">
        <h1>Lorem ipsum dolor sit amet,</h1>
        <p>Lorem ipsum dolor sit amet,</p>
    </div>
    <div class="filtro d-flex ">
        <p class="mx-5">Showing 1-8 of 10 Results</p>
        <p class="mx-5">Show:</p>
        <select class="form-select mx-2" aria-label="Default select example ">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select mx-2" aria-label="Default select example  ">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select mx-2" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <button type="button" class="btn btn-primary mx-2">
            <i class="bi bi-grid"></i>
        </button>
        <button type="button" class="btn btn-primary mx-2">
            <i class="bi bi-list"></i>
        </button>

        
    </div>
    
</div>



<!-- 
 <div class="container-fluid">
    <div class="card" style="width: 18rem;">
        <img src="https://www.byd.com.br/wp-content/uploads/2022/06/D1-escrito%CC%81rios2-2048x878.jpg"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">BYD D1 GS</h5>
            <p class="card-text">preço por dia: 500 reias e é nois!</p>
            <button type="button" class="btn btn-secondary btn-lg btn-block">Alugar</button>
        </div>
    </div>
   </div> 
<p>

</p>

<div class="card" style="width: 18rem;">
    <img src="https://image.webmotors.com.br/_fotos/anunciousados/gigante/2023/202310/20231020/peugeot-208-1.6-16v-flex-allure-at6-wmimagem13421050562.jpg?s=fill&w=552&h=414&q=60"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">PEUGEOT 208</h5>
        <p class="card-text">1.6 16V FLEX ALLURE AT6</p>
        <a href="#" class="btn btn-primary">Alugar</a>
    </div>
</div>
</div>


<div class="card" style="width: 18rem;">
    <img src="https://image.webmotors.com.br/_fotos/anunciousados/gigante/2023/202308/20230818/nissan-frontier-2.3-16v-turbo-diesel-xe-cd-4x4-automatico-wmimagem14421155480.jpg?s=fill&w=552&h=414&q=60"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">NISSAN FRONTIER</h5>
        <p class="card-text">2.3 16V TURBO DIESEL XE CD 4X4 AUTOMÁTICO</p>
        <a href="#" class="btn btn-primary">Alugar</a>
    </div>
</div>
</div> -->