<div class="container-fluid">
	<div class="row">
	<div class="col-md-4 foto-perfil">
		<img src="https://imagens.brasil.elpais.com/resizer/EZ7f2Fz74pE7Rxg3MfbkbvT2AL4=/980x980/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/6TE7TL7D4YWZFV2TFRSGNGN6JE.jpg" alt="">
		<h3>nome</h3>
		<h4>função</h4>
	</div>
	<div class="col-md-4 foto-perfil">
		<img src="https://imagens.brasil.elpais.com/resizer/EZ7f2Fz74pE7Rxg3MfbkbvT2AL4=/980x980/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/6TE7TL7D4YWZFV2TFRSGNGN6JE.jpg" alt="">
		<h3>nome</h3>
		<h4>função</h4>
	</div>
	<div class="col-md-4 foto-perfil">
		<img src="https://imagens.brasil.elpais.com/resizer/EZ7f2Fz74pE7Rxg3MfbkbvT2AL4=/980x980/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/6TE7TL7D4YWZFV2TFRSGNGN6JE.jpg" alt="">
		<h3>nome</h3>
		<h4>função</h4>
	</div>
	<div class="row">
		<div class="col-md-6 foto-perfil">
			<img src="https://imagens.brasil.elpais.com/resizer/EZ7f2Fz74pE7Rxg3MfbkbvT2AL4=/980x980/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/6TE7TL7D4YWZFV2TFRSGNGN6JE.jpg" alt="">
			<h3>nome</h3>
			<h4>função</h4>
		</div>
		<div class="col-md-6 foto-perfil">
			<img src="https://imagens.brasil.elpais.com/resizer/EZ7f2Fz74pE7Rxg3MfbkbvT2AL4=/980x980/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/6TE7TL7D4YWZFV2TFRSGNGN6JE.jpg" alt="">
			<h3>nome</h3>
			<h4>função</h4>
		</div>
	</div>
</div>