<div class="container-fluid">
	<h1 class="text-center">Sobre Nós</h1>
	<div class="row">
		<div class="col-md-4 mb-4">
			<div class="card">
				<img src="https://img.freepik.com/fotos-gratis/estilo-de-vida-beleza-e-moda-conceito-de-emocoes-de-pessoas-jovem-gerente-de-escritorio-feminino-asiatico-ceo-com-expressao-satisfeita-em-pe-sobre-um-fundo-branco-sorrindo-com-os-bracos-cruzados-sobre-o-peito_1258-59329.jpg"
					class="card-img-top scale-up foto" alt="Pessoa 1">
				<div class="card-body">
					<h5 class="card-title">Nome da Pessoa 1</h5>
					<p class="card-text">Descrição da Pessoa 1.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img src="https://img.freepik.com/fotos-gratis/estilo-de-vida-beleza-e-moda-conceito-de-emocoes-de-pessoas-jovem-gerente-de-escritorio-feminino-asiatico-ceo-com-expressao-satisfeita-em-pe-sobre-um-fundo-branco-sorrindo-com-os-bracos-cruzados-sobre-o-peito_1258-59329.jpg"
					class="card-img-top scale-up foto" alt="Pessoa 2">
				<div class="card-body">
					<h5 class="card-title">Nome da Pessoa 2</h5>
					<p class="card-text">Descrição da Pessoa 2.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img src="https://img.freepik.com/fotos-gratis/estilo-de-vida-beleza-e-moda-conceito-de-emocoes-de-pessoas-jovem-gerente-de-escritorio-feminino-asiatico-ceo-com-expressao-satisfeita-em-pe-sobre-um-fundo-branco-sorrindo-com-os-bracos-cruzados-sobre-o-peito_1258-59329.jpg"
					class="card-img-top scale-up foto" alt="Pessoa 3">
				<div class="card-body">
					<h5 class="card-title">Nome da Pessoa 3</h5>
					<p class="card-text">Descrição da Pessoa 3.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img src="https://img.freepik.com/fotos-gratis/estilo-de-vida-beleza-e-moda-conceito-de-emocoes-de-pessoas-jovem-gerente-de-escritorio-feminino-asiatico-ceo-com-expressao-satisfeita-em-pe-sobre-um-fundo-branco-sorrindo-com-os-bracos-cruzados-sobre-o-peito_1258-59329.jpg"
					class="card-img-top scale-up foto" alt="Pessoa 4">
				<div class="card-body">
					<h5 class="card-title">Nome da Pessoa 4</h5>
					<p class="card-text">Descrição da Pessoa 4.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img src="https://img.freepik.com/fotos-gratis/estilo-de-vida-beleza-e-moda-conceito-de-emocoes-de-pessoas-jovem-gerente-de-escritorio-feminino-asiatico-ceo-com-expressao-satisfeita-em-pe-sobre-um-fundo-branco-sorrindo-com-os-bracos-cruzados-sobre-o-peito_1258-59329.jpg"
					class="card-img-top scale-up foto" alt="Pessoa 5">
				<div class="card-body">
					<h5 class="card-title">Nome da Pessoa 5</h5>
					<p class="card-text">Descrição da Pessoa 5.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	@import url('https://fonts.cdnfonts.com/css/cocogoose');

	.card-img-top.scale-up {
		transform: scale(1.1);
		transition: transform 0.2s;
	}

	.card-img-top.scale-up:hover {
		transform: scale(1.2);
	}

	h1 {

		text-align: center;
		font-size: 35px;
		color: black;
		font-family: 'Cocogoose';
		margin-top: 20px;
		margin-bottom: 20px
	}

	.card {
		border: none;
		transition: transform 0.2s;
	}

	.card:hover {
		transform: scale(1.05);
	}

	.card-img-top {
		max-height: 200px;
		object-fit: cover;
	}

	.card-title {
		font-size: 20px;
		font-weight: bold;
		margin-top: 10px;
		text-align: center;
	}

	.card-text {
		font-size: 16px;
		color: #555;
		text-align: center;
	}

	.container {
		margin-top: 30px;
	}

	.foto {
		width: 300px;
		max-height: 100%;
		object-fit: cover;
	}
</style>