<div class="container-fluid">
	<h1 class="text-center">Sobre Nós</h1>
	<div class="row justify-content-center">
		<div class="col-md-4 mb-4">
			<div class="card">
				<img src="public\img\andrezza.jpg" class="card-img-top scale-up foto" alt="Pessoa 1">
				<div class="card-body">
					<h5 class="card-title">Andrezza Freire</h5>
					<ul class="nav-social">
						<li>
							<a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img src="public\img\bruno.jpg" class="card-img-top scale-up foto" alt="Pessoa 2">
				<div class="card-body">
					<h5 class="card-title">Bruno Massaro</h5>
					<ul class="nav-social">
						<li>
							<a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img src="public\img\lorena.jpeg" class="card-img-top scale-up foto" alt="Pessoa 3">
				<div class="card-body">
					<h5 class="card-title">Lorena Guedes</h5>
					<ul class="nav-social">
						<li>
							<a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-4 mb-4">
			<div class="card">
				<img src="public\img\luca.jpg" class="card-img-top scale-up foto" alt="Pessoa 4">
				<div class="card-body">
					<h5 class="card-title">Luca Donato</h5>
					<ul class="nav-social">
						<li>
							<a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img src="public\img\matheus.jpeg" class="card-img-top scale-up foto" alt="Pessoa 4">
				<div class="card-body">
					<h5 class="card-title">Matheus Asael</h5>
					<ul class="nav-social">
						<li>
							<a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4 mb-4">
			<div class="card">
				<img src="public\img\yasmin.jpg" class="card-img-top scale-up foto" alt="Pessoa 5">
				<div class="card-body">
					<h5 class="card-title">Yasmin Menezes</h5>
					<ul class="nav-social">
						<li>
							<a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	@import url('https://fonts.cdnfonts.com/css/cocogoose');

	.card-img-top.scale-up {
		transform: scale(1.1);
		transition: transform 0.2s;
	}

	.card-img-top.scale-up:hover {
		transform: scale(1.2);
	}

	h1 {

		text-align: center;
		font-size: 35px;
		color: black;
		font-family: 'Cocogoose';
		margin-top: 50px;
		margin-bottom: 50px
	}

	.card {
		border: none;
		transition: transform 0.2s;
		height: 450px;
	}

	.card:hover {
		transform: scale(1.00);
	}

	.card-img-top {
		max-height: 200px;
		object-fit: cover;
	}

	.card-title {
		font-size: 20px;
		font-weight: bold;
		margin-top: 10px;
		text-align: center;
	}

	.card-text {
		font-size: 16px;
		color: #555;
		text-align: center;
	}

	.container {
		margin-top: 30px;
	}

	.foto {
		width: 300px;
		max-height: 100%;
		object-fit: cover;
		display: block;
		margin: 0 auto;
	}

	.nav-social {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: center;
		justify-items: center;
	}

</style>